@font-face {
    font-family: "Now Bold";
    src: url("/fonts/now.bold.otf") format("opentype");
}

@font-face {
    font-family: "Now Medium";
    src: url("/fonts/now.medium.otf") format("opentype");
}
@keyframes animate {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}
body {
  min-height: 100vh;
  min-width: 100vw;
}
.wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000; 
    animation: animate 5s 1;

  }
  
  .txt {
    color: #ffffff;
    background:#000000;
    font-size:150px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
  }
  .txt::before {
    content: 'Michael Sun';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);

  }
  .txt1 {
    color: #ffffff;
    background:#000000;
    font-size:45px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
  }
  .txt1::before {
    content: "Michael Sun's Portfolio Website";
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
  }
  .neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
  }
  .gradient{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgb(94, 255, 99) 27.8%, rgba(2,245,255,1) 90.2% );    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
  }
  .dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
  }
  @keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
  }
  body {
      margin: 0;
      padding: 0;
      font-family: poppins;
    background:#000000;
  
  }
  
  .banner-area h2 {
      font-size: 65px;
      margin: 0;
      color: #262626;
  }
  .banner-area p {
      color: #262626;
      width: 35%;
      text-align: center;
      animation: animate 5s 1;
  }
  .banner-area {
      width: 100%;
      height: 30vh;
      background: url(1.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      margin-top: 200px;
  }
  .banner-area1 {
    width: 100%;
    height: 15vh;
    background: url(1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.banner-area2 {
    width: 100%;
    height: 30vh;
    background: url(1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-top: 100px;

}
  h2 {
      animation: animate 2s 1;
  }
  .btn {
    position: relative;
    left:820px;
    top:300px;
    padding: 2em 5em;
    width: 48em;
    height: 80em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 160px;
    letter-spacing: 2px;
    transition: 0.5s;
    font-size: large;
    font-family: 'Lato', sans-serif;
  }
  .btn:hover {
    background: #ec0b36 url(imgs/pixel.png);
    transition-delay: 0.8s;
    animation: button 0.8s steps(8) forwards;
    background-size: 200px;
  }
  .btn2 {
    position: relative;
    left: 820px;
    top:300px;
    padding: 2em 5em;
    width: 48em;
    height: 80em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 160px;
    letter-spacing: 2px;
    transition: 0.5s;
    font-size: large;
    font-family: 'Lato', sans-serif;
  }
  .btn2:hover {
    background: #730bec url(imgs/pixel2.png);
    transition-delay: 0.8s;
    animation: button 0.8s steps(8) forwards;
    background-size: 200px;
  }

  @keyframes button
  {
    0%
    {
      background-position-y: 0;
    }
    100%
    {
      background-position-y: -480px;
    }


  }

  .wrapper1 {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000; 
  }
  .flex-container {
    display: flex;
    position: absolute;
 }
 .extra img{
    margin-left: 100px;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    margin-right: 30px;
 }
 .flex-child {
    flex: 1;

 }  

 .flex-child:first-child {
    margin-right: 20px;

 } 
h1 {
text-align: center;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    right: 775%;
    top:330px;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #11bc1f;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #bd04fa;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077B5;
}


@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    max-width: 100px;
  }
  
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
    margin-top:100px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .head {
    font-family: neon;
    color: #76fb42;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
    margin-top:600px;
    margin-left: 530px;
    margin-bottom: 50px;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  h2{
    color: white;
    font-family: 'Lato', sans-serif;
  }
  h4{
    position: relative;
    color: white;
    font-family: 'Lato', sans-serif;
    animation: animate 2s 1;
    margin:auto;
  }
  h3{
    position: relative;
    color: white;
    font-family: 'Lato', sans-serif;
    animation: animate 2s 1;
    margin:auto;
    font-size: medium;
  }
  .container2{
    color: white;
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    margin-left:300px;
    margin-bottom: 10px;
  }
  .container3{
    color: white;
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    margin-left:850px;
    margin-top: -582px;
    margin-bottom: 10px;

  }
  .container4{
    color: white;
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    margin-left:300px;

  }
  .container5{
    color: white;
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    margin-left:850px;
    margin-top: -572px;
  }
  .first img{
     width: 100%;
     border-radius: 12px;
     height: 314px;
     object-fit: cover;
     justify-content: center;
     display: flex;

  }
  .second img{
    width: 100%;
    height: 114px;
    object-fit: cover;

  }
  .fa-brands{
    font-size: 300px;
    color: #009FC2;
    margin-left: 40px;
    width: 100%;
    border-radius: 12px;
    height: 314px;
    object-fit: cover;
    text-shadow: 0 0 50px #000, 0 0 100px #1DA1F2, 0 0 150px #1DA1F2, 0 0 200px #1DA1F2, ;
    animation: twitter 2s infinite ;
  }

  @keyframes twitter{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter:hue-rotate(720deg);
    }
  }
  .card{
    background: linear-gradient(#009FC2,
    #0D0A0B); 
    padding: 8px;
    height:550px;
    border-radius: 12px;
    border: 3px solid #f40af4; 
  }
  .card2{
    background: linear-gradient(#000000,
    #2D3436); 
    padding: 8px;
    height:550px;
    border-radius: 12px;
    border: 3px solid #f40af4; 
  }
  .card3{
    background: linear-gradient(#000000,
    #55EFC4); 
    padding: 8px;
    height:550px;
    border-radius: 12px;
    border: 3px solid #f40af4; 
  }
  .card4{
    background: linear-gradient(#958E69,
    #000000); 
    padding: 8px;
    height:550px;
    border-radius: 12px;
    border: 3px solid #f40af4; 
  }
  
  .tag{
    padding: 4px 8px;
    border:1px solid #fff;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
  }
  .name{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
  }
  .p{
    font-size: 8px;
    color: #fff
  }
  .btn3{
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color:#0077FF;
    background-color: #E0EFFF;
    margin:0 auto;
    display: block;
    max-width: 125px;
    text-align: center;
  }
  .card-details{
    padding: 16px 8px 8px 8px;
  }
  .ncontainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .ncard{
    position: relative;
    width: 220px;
    height: 250px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .percent{
    position: relative;
    width: 150px;
    height: 150px;
  }
  .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);

  }
  .percent svg circle{
    width: 100%;
    height: 100%;
    fill:transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
  }
  .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num))/100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  @keyframes fadeIn{
    0%
    {
      opacity: 0;
    }
    100%
    {
      opacity: 1;
    }
  }
  .dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
  }
  @keyframes animateDot
  {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  .dot::before{
    content: '';
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
  }
  .number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 35px;
  }
  h6{
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin-top: -20px;
    font-size: 0.75em;
    letter-spacing: 2px;

  }
